<form id="formContact"
      data-request="siteHelper::onSubmit"
      data-request-success="document.getElementById('formContact').reset();"
      data-request-flash>
    <div class="form-wrapper uk-background-white uk-border-24">
        <div class="uk-grid uk-grid-40@m" uk-grid>
            <div class="uk-width"><input class="uk-input" name="name" type="text" placeholder="Full Name"></div>
            <div class="uk-width"><input class="uk-input" name="email" type="email" placeholder="Email"></div>
            <div class="uk-width"><input class="uk-input" name="phone" type="text" placeholder="Phone Number"></div>
            <div class="uk-width"><textarea class="uk-textarea" name="message" placeholder="Message"></textarea></div>
            <input type="hidden" name="type" value="contact">
        </div>
        <div class="cta cta--lime uk-margin-top-32 uk-margin-top-64@m"><input
            class="cta cta--lime uk-padding-remove" type="submit" value="Submit"><span
            class="arrow-icon uk-flex-no-shrink uk-margin-left-8"><svg width="30" height="30" viewbox="0 0 30 30"
                                                                       fill="none"
                                                                       xmlns="http://www.w3.org/2000/svg"><rect
            width="30" height="30" rx="15" fill="white"></rect><path
            d="M9.62139 10.3753L19.5003 9.73799M19.5003 9.73799L20.1377 19.6169M19.5003 9.73799L10.2587 20.2543"
            stroke="#9F9F9F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></span>
        </div>


    </div>
</form>
