description = "Default layout"

[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]

[formSubmissions]
==
use Cms\Classes\Theme;

public function onInit() {
    $this['ssaSettings'] =  SMS\SSA\Models\Settings::instance();

    $jsDirectory = 'assets/scripts';
    $cssDirectory = 'assets/styles';
    $theme = Theme::getActiveTheme();
    $jsAbsolutePath = $theme->getPath() . '/' . $jsDirectory;
    $cssAbsolutePath = $theme->getPath() . '/' . $cssDirectory;

    if (is_dir($jsAbsolutePath)) {
        $filePaths = glob($jsAbsolutePath . '/*.js');
        foreach ($filePaths as $fullPath) {
            $filename = basename($fullPath);
            $relativePath = $jsDirectory . '/' . $filename;
            $this->addJs($relativePath, ['defer']);
        }
    }

    if (is_dir($cssAbsolutePath)) {
        $filePaths = glob($cssAbsolutePath . '/*.css');
        foreach ($filePaths as $fullPath) {
            $filename = basename($fullPath);
            $relativePath = $cssDirectory . '/' . $filename;
            $this->addCss($relativePath);
        }
    }
}
==
<!DOCTYPE html>
{repeater name="sections" prompt="Add New Component" groups="~/themes/ssa/meta/blocks.yaml" collapsed=true style="accordion" tab="Content"}
    {variable name="_dummy" type="text"}{/variable}
{/repeater}
<html class="no-js" dir="ltr" lang="en">
    <head>
        {% partial 'site/head/head-meta' %}
        <title>SSA - {{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        {% partial 'site/head/head-links' %}
        {% partial 'site/head/head-scripts' %}
        {% partial 'site/head/analytics-code' %}
    </head>
    <body class="page-home {{ 'page-'~this.page.id }}">

        {% partial 'site/head/after-body' %}

        {% partial 'site/header' %}

        {% partial 'site/flash-messages' %}

        {% if sections | length > 0 %}
            {% for blockNumber, section in sections %}
                {% partial 'blocks/' ~ section._group data=section blockNumber=blockNumber %}
            {% endfor %}
        {% else %}
            {% page %}
        {% endif %}

        {% partial 'site/footer' %}
        {% partial 'site/footer/scripts' %}
    </body>
</html>
